body{
  padding-top: 0px;
  background-image: url("../src/img/cool-background.png");
  position: relative;
  z-index: -100;
}
p,h1,a{
  font-family: 'alibaba_puhui';
  cursor: default;
}
@font-face{
  font-family: alibaba_puhui;
  src:  url("../src/font/alibaba-puhui/Alibaba-PuHuiTi-Regular.otf"),
        url("../src/font/alibaba-puhui/Alibaba-PuHuiTi-Regular.ttf");
}
@font-face{
  font-family: interEng;
  src: url("../src/font/inter/Inter-UI-Regular.ttf");
}
@font-face{
  font-family: apple;
  src: url("../src/font/apple/PingFang_Bold.ttf")
}
@font-face{
  font-family: japanTxt;
  src:url("../src/font/japanTxt/japan.ttf")
}

.web_page{
  position: relative;
  width: 1024px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  /* background-image: url("../src/img/bg2.png"); */
  z-index: -2;
}
.default_page{
  background-image: url("../src/img/bg2.png");
  height: 768px;
}
.main_page{
  background-image: url("../src/img/main/bg1.png");
  position: relative;
  z-index: -1;
}
.main_nav{
  width: auto;
  height: 60px;
  background-color: #b87601;
  /* background-image: url(../src/img/main/nav_bar.png); */
  border-bottom: 3px solid #3e0846;
  position: relative;
  top: 0;
  z-index: 2;
}
.main_nav_guang{
  color: #3e0846;
  position: relative;
  left: 100px;
  top: 5px;
  font-size: 34px;
  width: 200px;
}
.main_nav_ab{
  width: 200px;
  position: relative;
  font-size: 27px;
  left: 800px;
  font-weight: 700;
  top: -58px;
}
.main_nav_ab a{
  color: #3e0846;
  font-family: 'japanTxt';
}
.pic_wall{
  display: none;
  width: 512px;
  margin-left: 20px;
  border-left: 2px solid #3e0846;
  border-right: 2px solid #3e0846;
  border-bottom: 2px solid #3e0846;
  position: absolute;
  top: 4px;
}
.pic_wall img{
  z-index: 2;
}
.wall_txt{
  color: #3e0846;
  position: relative;
  width: 440px;
  left: 580px;
  top: 150px;
  font-size: 38px;
}
.wall_txt p{
  margin: 10px;
  font-family: 'interEng';
}
.wall_txt p a{
  cursor: pointer;
}
.wall_txt_bottom{
  position: relative;
  display: none;
  background-color: #3e0846;
  left: 680px;
  top: 20px;
  width: 200px;
  height: 2px;
}
.fm_page{
  width: auto;
  height: 900px;
  background-image: url(../src/img/bg2.png);
}
.fm_nav{
  height: 60px;
  text-align: center;
}
.fm_nav h1{
  /* font-family: 'interEng'; */
  position: relative;
  color: #350600;
  top: 2px;
  left: 0;
}
.fm_pics{
  padding-top: 20px;
  height: 650px;
}
.fm_pic_1 img {
  width: 450px;
  height: 606px;
  transition: 1s;
}
.fm_pic_2 img {
  width: 350px;
  height: 472px;
  transition: 1s;
}
.fm_pic_3 img {
  width: 350px;
  height: 472px;
  transition: 1s;
}
.fm_pic_1{
  position: absolute;
  left: 260px;
  top:830px;
  width: 450px;
  height: 606px;
  z-index: 4;
  transition: 0.85s;
}
.fm_pic_2{
  position: absolute;
  top: 900px;
  left: 40px;
  width: 350px;
  height: 472px;
  z-index: 1;
  transition: 0.85s;
}
.fm_pic_3{
  position: absolute;
  top: 900px;
  left: 610px;
  width: 350px;
  height: 472px;
  z-index: 1;
  transition: 0.85s;
}
.fm_about{
  color: #350600;
  position: relative;
  top: -20px;
  left: 112px;
  width: 800px;
  height: 200px;
  background-image: url("../src/img/aboutme/text_mask.png");
}
.fm_about .fm_about_txt{
  width: 400px;
  position: relative;
  left: 200px;
  text-align: center;
  top: 10px;
}
.fm_txt{
  font-size: 30px;
  padding-top: 10px;
}
.fm_txt p{
  font-family: 'interEng';
  margin: 5px;
}
.fm_pic_btm{
  position: absolute;
	top: 1148px;
	width: 30px;
	height: 30px;
	margin-top: -22.5px;
	transform: rotate(45deg);
  z-index: 999;
  opacity: 0.5;
}
.right_btn{
	right: 108px;
	border-top: 5px solid #eee;
	border-right: 5px solid #eee;
}
.left_btn{
	left: 108px;
	border-bottom: 5px solid #eee;
	border-left: 5px solid #eee;
}
.circles{
	position: absolute;
	width: 260px;
	height: 16px;
	left: 562px;
	top: 1430px;
	margin-left: -135px;
	z-index: 999;
}
.circles ol{
	list-style: none;
}
.circles ol li{
	float: left;
	margin-right: 10px;
	background-color: #eee;
	width: 16px;
	height: 16px;
  border-radius: 50%;
  border: 2px solid white;
}
.circles ol li.cur{
	background-color: #42a5f3;
}
.shi_page{
  background-image: url("../src/img/shi/bg-lion.png");
}
.shi_page .shi_nav{
  background-image: url("../src/img/shi/红色分割层.png");
  text-align: center;
  position: relative;
  z-index: 6;
  height: 60px;
  box-shadow: 0px 10px 25px #646464;
}
.shi_page .shi_nav h1{
  color: white;
  position: relative;
  top: 4px;
  left: 0;
}
.shi_pic_bg{
  /* background-color: white; */
  /* background-image: url("../src/img/shi/bg-lion.png"); */
  width: 840px;
  height: 708px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
}
.shi_page .shi_pic{
  width: auto;
  height: 708px;
  position: static;
  /* left: 5%; */
  top: 0px;
  z-index: 1;
}
.shi_page .shi_pic img{
  height: 712px;
  position: relative;
  top: -710px;
  z-index: 2;
  left: 121px;
  filter:blur(0px);
  box-shadow: 20px 10px 25px #e1e2e3;
}

.shi_txt{
  color: #3e0846;
  font-size: 36px;
  left: 580px;
  position: relative;
  top: -600px;
  width: 300px;
  filter:blur(4px);
  z-index: 1;
}
.shi_txt p{
  font-family: 'japanTxt';
}
.shi_txt .shi_head_txt{
  position: relative;
  margin-bottom: 40px;
}
.shi_txt .shi_head_txt h1{
  font-size: 54px;
}
#shi_span{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 708px;
  position: relative;
  top: -1161px;
  z-index: 99;
}
#shi_bottom{
  background-color: #381644;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  position: relative;
  top: -1170px;
  z-index: 4;
  box-shadow: 0px -10px 25px #646464;
}
#shi_paper img{
  
  width: 358px;
  height: 485px;
  position: relative;
  top: -1810px;
  left: 518px;
  z-index: 0;
  
}
.abm_page{
  height: 560px;
}
.abm_page .abm_nav{
  height: 60px;
  text-align: center;
  position: relative;
  z-index: 5;
  padding: 6px;
  color: white;
  background-image: url("../src/img/aboutme/purple.png");
}
.abm_page .abm_chat{
  height: 500px;
  width: 892px;
  position: relative;
  left: 66px;
  background-image: url("../src/img/aboutme/bg-chat.png");
}
.wechat{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 780px;
  height: 430px;
  top: 20px;
}
.wechat .wechat_head{
  display: none;
  width: auto;
  height: 60px;
}
.wechat #wc_back{
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #e1e2e3;
  border-radius: 40px;
  border: #e1e2e3 3px solid;
  opacity: 0.90;
  text-align: center;
}
.wechat #wc_back p{
  color: white;
  font-size: 30px;
  font-weight: 600;
  cursor: default;
  opacity: 2;
  top: -7px;
  position: relative;
}
.wechat #wc_title{
  cursor: pointer;
  text-align: center;
  background-color: #e1e2e3;
  border: #e1e2e3 3px solid;
  width: 450px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  opacity: .60;
  position: relative;
  top: -44px;
}
.wechat #wc_title p {
  font-size: 24px;
  cursor: pointer;
  position: relative;
  top: 4px;
}
.wechat #wc_other{
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 40px;
  background-color: #e1e2e3;
  border-radius: 40px;
  border: #e1e2e3 3px solid;
  text-align: center;
  opacity: 0.90;
  left: 720px;
  top: -90px;
}
.wechat #wc_other p {
  cursor: pointer;
  color: white;
  font-size: 30px;
  height: 20px;
  top: -13px;
  position: relative;
}
.wechat .wechat_msg{
  width: auto;
  height: 320px;
}
.wechat_msg .wechat_qust{
  display: none;
  width: 400px;
  height: 40px;
  position: relative;
  top: 5px;
  left: 110px;
  margin-bottom: 10px;
}
.wechat_qust .wc_pic{
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-image: url("../src/img/aboutme/q_pic.jpeg");
  box-shadow: 2px 2px 2px #e1e2e3;
  border: 2px solid darkgrey;
}
.wechat_qust .wc_msg_bg{
  float: left;
  width: 350px;
  height: 40px;
}
#q_1{
  width: 200px;
  margin-top: 8px;
}
.wechat_qust #wc_msg{
  position: relative;
  float: left;
  height: 40px;
  width: 200px;
  border-radius: 8px;
  background-color: #e1e2e3;
  text-align: center;
}
.wechat_qust #wc_msg_trib{
  position: relative;
  float: left;
  width: 0;
  height: 0;
  border-right: 10px solid #e1e2e3;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 15px;
}
.wechat_answ{
  display: none;
  height: 40px;
  float: right;
  width: 500px;
  margin-right: 105px;
  margin-bottom: 20px;
}
.wechat_answ .wc_msg_bg{
  float: right;
  width: 200px;
  height: 40px;
}
.wechat_answ .wc_pic{
  float: right;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-image: url("../src/img/aboutme/a_pic.jpeg");
  box-shadow: 2px 2px 2px #e1e2e3;
  border: 2px solid greenyellow;
}
.wechat_answ #wc_msg{
  position: relative;
  float: right;
  height: 40px;
  width: 130px;
  border-radius: 8px;
  background-color: #00c181;
  text-align: center;
}
.wechat_answ #wc_msg_trib{
  position: relative;
  float: right;
  width: 0;
  height: 0;
  border-left: 10px solid #00c181;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 15px;
  z-index: 5;
}
#a_1,#a_2,#a_4{
  margin-top: 8px;
}
#a_3{
  margin-top: 4px;
  margin-bottom: 3px;
}
#answ_2 .wc_msg_bg{
  width: 300px;
}
#answ_2 .wc_msg_bg #wc_msg{
  width: 280px;
}
#answ_3{
  height: 65px;
}
#answ_3 .wc_msg_bg{
  width: 350px;
  height: 65px;
}
#answ_3 .wc_msg_bg #wc_msg{
  width: 320px;
  height: 65px;
}
#answ_4 .wc_msg_bg{
  width: 290px;
}
#answ_4 .wc_msg_bg #wc_msg{
  width: 280px;
}
.wc_end_input{
  display: none;
  width: 500px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  text-align: center;
}
.wc_end_input input{
  border-radius: 20px;
  width: 460px;
  border: 0;
  color: white;
  height: 40px;
  /* border:2px solid #94969a; */
  /* box-shadow: 8px 8px 15px #e1e2e3; */
}
.email_page{
  height: 208px;
  background-color: white;
  /* 移入事件颜色改变为#f6fafc */
  cursor: default;
}

.email_page .email_txt{
  margin-left: 200px;
  padding-top: 30px;
}

.email_page .email_txt .email_txt1{
  font-size: 24px;
}
.email_page .email_txt .email_txt2{
  font-size: 15px;
  margin-top: 15px;
}
.email_page .email_txt .email_msg{
  width: 440px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #e1e2e3;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.email_page .email_txt .email_msg p{
  font-size: 20px;
  margin-top: 2px;
}
.email_page .email_msg_tip{
  height: 136px;
  width: 240px;
  margin: 10px;
  position: relative;
  left: 750px;
  top: -140px;
  border-radius: 10px;
  display: none;
  box-shadow: 1px 1px 10px #e1e2e3;
}
.email_page .email_msg_tip .tip_top{
  width: auto;
  height: 58px;
  background-color: #39c4f7;
  color: white;
  text-align: center;
  font-size: 36px;
  border-radius: 10px 10px 0px 0px;
}
.email_page .email_msg_tip .tip_msg{
  width: auto;
  height: 78px;
  background-color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  border-radius: 0 0 10px 10px ;
}
.author_page{
  height: 400px;
  background-color: #ecf2f8;
  position: relative;
  z-index: 1;
}
.author_page .author_card{
  width: 250px;
  height: 350px;
  float: left;
  margin-left: 45px;
  margin-top: 25px;
  background-color: white;
  border-radius: 25px 15px 25px 15px;
  position: relative;
}
.card_select{
  box-shadow: 2px 5px 20px #e1e2e3;
}
.msg_pic{
  position: relative;
  left: 65px;
  top: 10px;
  width: 120px;
  height: 125px;
  border-bottom: 5px solid #f6fafc;
}
.msg_txt{
  width: 250px;
  height: 200px;
  text-align: center;
  position: relative;
  padding: 10px;
  left: 0px;
  top: 10px;
  cursor: default;
}
.msg_name{
  font-size: 28px;
  color: #b2b4b6;
  margin-bottom: 4px;
}
.msg_grade{
  font-size: 18px;
  color: #b2b4b6;
  margin-bottom: 15px;
  margin-top: 10px;
}
.msg_info{
  margin-left: 20px;
  font-size: 23px;
  color: #94969a;
  font-family: 'japanTxt';
}
.foot_page{
  height: 160px;
  background-color: white;
}
.foot_page_txt{
  color: #94969a;
  width: 500px;
  position: relative;
  margin-left: auto;
  top: 45px;
  margin-right: auto;
  text-align: center;
}
.foot_page_txt p{
  margin: 0;
}
.foot_page_txt a{
  color: #00c181;
}