body {
  padding-top: 0px;
  background-color: aqua;
  background-image: url("../src/img/cool-background.png");
  position: relative;
  z-index: -100;
}

.web_page{
  position: relative;
  width: 1024px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  /* background-image: url("../src/img/bg2.png"); */
  z-index: -2;
}

/* .starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5; 
}*/



/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

 /* .product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* @media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */
.default_page{
  background-image: url("../src/img/bg2.png");
  height: 768px;
}
.main_page{
  background-image: url("../src/img/main/bg1.png");
  position: relative;
  z-index: -1;
}
.main_nav{
  width: auto;
  height: 60px;
  background-image: url(../src/img/main/nav_bar.png);
  border-bottom: 3px solid #3e0846;
  position: relative;
  top: 0;
  z-index: 2;
}
.pic_wall{
  width: 512px;
  margin-left: 20px;
  border-left: 2px solid #3e0846;
  border-right: 2px solid #3e0846;
  border-bottom: 2px solid #3e0846;
  position: absolute;
  top: 4px;
}
.pic_wall img{
  z-index: 2;
}

.fm_page{
  width: auto;
  height: 900px;
  background-image: url(../src/img/bg2.png);
}
.fm_nav{
  height: 60px;
  text-align: center;
}
.fm_nav h1{
  position: relative;
  color: #350600;
  top: 2px;
  left: 0;
}
.fm_pics{
  padding-top: 20px;
  height: 650px;
}
.fm_pic_1{
  position: relative;
  left: 260px;
  width: 400px;
  height: 540px;
  z-index: 2;
}
.fm_pic_2{
  position: absolute;
  top: 900px;
  left: 40px;
  width: 250px;
  height: 337px;
  z-index: 1;
}
.fm_pic_3{
  position: absolute;
  top: 900px;
  left: 610px;
  width: 250px;
  height: 337px;
  z-index: 1;
}
.fm_about{
  position: relative;
  top: -20px;
  left: 112px;
  width: 800px;
  height: 200px;
  background-image: url("../src/img/aboutme/text_mask.png");
}
.shi_page{

}
.shi_page .shi_nav{
  background-image: url("../src/img/shi/红色分割层.png");
  text-align: center;
  position: relative;
  z-index: 1;
  height: 60px;
}
.shi_page .shi_nav h1{
  color: white;
  position: relative;
  top: 4px;
  left: 0;
}
.shi_page .shi_pic{
  height: 708px;
  position: relative;
  left: 5%;
  top: -2px;
  z-index: 0;
}
.abm_page{
  height: 560px;
}
.abm_page .abm_nav{
  height: 60px;
  background-image: url("../src/img/aboutme/purple.png");
}
.abm_page .abm_chat{
  height: 500px;
  width: 892px;
  position: relative;
  left: 66px;
  background-image: url("../src/img/aboutme/bg-chat.png");
}
.email_page{
  height: 208px;
  background-color: white;
  /* 移入事件颜色改变为#f6fafc */
}
.author_page{
  height: 400px;
  background-color: #ecf2f8;
  position: relative;
  z-index: 1;
}
.author_page .author_card{
  width: 250px;
  height: 350px;
  float: left;
  margin-left: 45px;
  margin-top: 25px;
  background-color: white;
  border-radius: 25px 15px 25px 15px;
  position: relative;
}
.card_select{
  box-shadow: 2px 5px 20px #e1e2e3;
}
.msg_pic{
  position: relative;
  left: 65px;
  top: 10px;
  width: 120px;
  height: 125px;
  border-bottom: 5px solid #f6fafc;
}
.msg_txt{
  width: 250px;
  height: 200px;
  text-align: center;
  position: relative;
  padding: 10px;
  left: 0px;
  top: 10px;
  cursor: default;
}
.msg_name{
  font-size: 28px;
  color: #b2b4b6;
  margin-bottom: 4px;
}
.msg_grade{
  font-size: 18px;
  color: #b2b4b6;
  margin-bottom: 10px;
}
.msg_info{
  margin-left: 20px;
  font-size: 20px;
  color: #94969a;
}
.foot_page{
  height: 160px;
  background-color: white;
}